table {
    border: 1px solid red;
    width: 500px;
}

table td {
    border: 1px solid green;
}

table tbody tr {
    height: 50px;
}

.fondo-rojo {
    background-color: red;
}

.fondo-azul {
    background-color: blue;
}

.borde-grueso-azul {
    border: 5px solid blue;
}
